/* Landscape iPhone 6 6s 7 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){

	.nav {
		display: flex; 

	}
body {
	background-image: url("swrv.jpg");
}

}

/* Landscape iPhone 6+ 6s+ 7+ 8+ */

	@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape){

		.nav {
		display: flex; 

	}

body {
	background-image: url("swrv.jpg");
}

}

/* ----------- iPhone X ----------- */


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait){

	#clockbox 
	{
		margin-top: 100px; 
	}

	.col-bottom {
		margin-bottom: 90px; 
	}

}

/* IPAD */

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

	.nav {
		display: flex; 

	}

	.logo-img {
		width: 650px;
		margin-top: 90px;  
	}

	#clockbox {
		margin-top: 200px; 
	}

	.col-bottom {
		margin-bottom: 305px; 
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

	.col-bottom {
		margin-bottom: 160px; 
	}

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width:1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){

	.logo-img {
		width: 1000px!important; 
		margin-bottom: 70px!important; 
	}

	#clockbox {
		margin-top: 300px; 
		font-size: 25px; 
	}

	li a {
		font-size: 25px; 
	}

	.col-bottom {
		margin-top: 330px; 
	}

	}

	/*Landscape*/

	@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

     .col-bottom {
		margin-top: 350px; 
	}


	}




/*LAB TOP BREAK POINT*/

@media screen and (min-width: 769px) {

	.logo-img {
	width: 700px; 
	margin-top: 120px; 
    margin-bottom:0; 

	}

	body {
	background-image: url("swrv.jpg");
}

	.nav {
		display: flex; 
	} 
  
  .fab {
    font-size: 40px!important; 
  }

}

/*************************Desk TOP Break Point **************************************/

@media screen and (min-width: 1281px)  {

	.logo-img {
		width: 900px; 
	}

	#clockbox {
		font-size: 20px; 
	}

	li a {
	font-size: 20px; 
}
  
}

/*************************Large Desk Top Break Point **************************************/

@media screen and (min-width: 1920px) {
  
}
